KAFKA_PORT=9092
KAFKA_CLUSTER_ID=ZWFhOWQ5ZjAtY2Q5Ny00Yjc0LWExODktNDMwNWI4ZmFhMjA0
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me
CASSANDRA_CQL_PORT=9042
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8080
SPARK_DAEMON_MEMORY=1g
SPARK_WORKER_MEMORY=1G
SPARK_WORKER_CORES=1
FLINK_PARALLELISM_DEFAULT=1
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=change-me
GRAFANA_ADMIN_PASSWORD=change-me
KAGGLE_USERNAME=your-kaggle-username
KAGGLE_KEY=your-kaggle-key
KAGGLE_COMPETITION=pkdd-15-predict-taxi-service-trajectory-i
NYC_MONTHS=2024-01 2024-02 2024-03
DOWNLOAD_ROOT=data/downloads
MINIO_ALIAS=local
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
ML_BUCKET=ml-data
MC_IMAGE=minio/mc:latest